@model AllCarsQueryModel

    <div class="mb-4"></div>

    <div class="row">
        <form method="get" class="example" style="margin:auto;max-width:300px;">
            <div class="row mb-5">
                <input asp-for="SearchTerm" type="text" placeholder="Type to search..">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>

<div class="row">

    @foreach (var car in Model.Cars)
    {
        <div class="col-md-3 mt-3">
            <div class="card">
                <img class="card-img-top" src="@car.ImageUrl" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@car.Brand - @car.Model</h5>
                    <p class="card-text">@car.Year</p>
                </div>
                <div class="card-body">
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    }
</div>